<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="VersionBumper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="VersionBumper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <VersionBumper.Properties.Settings>
            <setting name="InterestFilePattern" serializeAs="String">
                <value>AssemblyInfo.cs|Product.wxs</value>
            </setting>
        </VersionBumper.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <VersionBumper.Properties.Settings>
            <setting name="TFSServer" serializeAs="String">
                <value>http://yourserver:8080/tfs</value>
            </setting>
            <setting name="TFSLogin" serializeAs="String">
                <value></value>
            </setting>
            <setting name="TFSPassword" serializeAs="String">
                <value></value>
            </setting>
            <setting name="TFSWorkspace" serializeAs="String">
                <value></value>
            </setting>
        </VersionBumper.Properties.Settings>
    </userSettings>
</configuration>
